@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Facturación e inventario</h1>
    <img src="~/Imagenes/invoice.png" alt="Facturas">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que somos?</h2>
        <p>
            Somos un sistema en donde te hacemos el manejo de factura e inventario mas fácil y más secillos tanto para los
            empleados y demas participantes de la empresa.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Acerca de nosotros...</h2>
        <p>
            Nosotros somos una empresa en la que nos dedicamos a desarrollar diversos sistemas para diversas empresas; somos una
            empresa que nace en los años 1998, después de haber visto que en el mercado actual habia muchas necesidades y que el
            podíamos explotar este mercado. Al principios comenzamos con las pequeñas empresa, ahora somos unas de las mas reconocidas
            en el país y en el mercado.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contactos</h2>
        <p>
            Nuestra oficina esta ubicada en <strong>Ave. 27 de Febrero Esq. Abraham Lincoln Santo Domingo, Av 27 de Febrero.</strong><br />
            Tambien nos pueden llamar al telefono: <strong>(809) 473-4020</strong><br />
            Estamos a la orden, siempre a sus servicios.
        </p>
    </div>
</div>